.container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;

  justify-items: center;
  justify-content: center;
  align-content: center;

  &.center {
    height: 100%;
    width: 100%;
  }
}

@keyframes rotation {
  from {
    rotate: 45deg;
  }

  to {
    rotate: 405deg;
  }
}

.spinnerContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
}

.spinner {
  position: absolute;

  width: 2rem;
  height: 2rem;

  animation: rotation 2s infinite linear;

  &::before,
  &::after {
    position: absolute;

    content: "";

    display: block;
    width: 0.75rem;
    height: 0.75rem;

    border-radius: 50%;
    background-color: #059669;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }
}

.spinner2 {
  position: absolute;

  width: 1.25rem;
  height: 1.25rem;

  animation: rotation 2s infinite reverse linear;

  &::before,
  &::after {
    position: absolute;

    content: "";

    display: block;
    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;
    background-color: #10b981;
  }

  &::before {
    bottom: 0;
    left: 0;
  }

  &::after {
    top: 0;
    right: 0;
  }
}

.text {
  font-size: small;
}
