.container {
  height: 4rem;
  padding-inline: 2rem;

  display: flex;
  align-items: center;
}

.text {
  font-size: smaller;
  color: #475569;
}

.link {
  color: #475569;

  transition: color var(--transition);

  &:hover {
    color: #cbd5e1;
  }
}

.section {
  margin-left: auto;
}

.icon {
  width: 2rem;
  height: 2rem;
}
