.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;

  font-size: x-small;
}

.svg {
  display: block;

  transform: rotate(-90deg);
}

.track,
.indication {
  fill: transparent;
  stroke-width: var(--strokeWidth);
}

.track {
  stroke: #ddd;
}

.indication {
  stroke: #07c;

  stroke-dasharray: var(--dashArray);
  stroke-dashoffset: var(--dashOffset);
  stroke-linecap: round;
}
